{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "semi": true,
  "overrides": [
    {
      "files": "*.html",
      "options": { "parser": "angular", "printWidth": 120 }
    },
    {
      "files": ["*.scss", "*.css"],
      "options": { "singleQuote": false }
    }
  ]
}
